.build.main/
main.pdf
*.synctex.gz
*-figure*
*.aux
*.auxlock
*.bbl
*.bcf
*.bcf-SAVE-ERROR
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.thm
*.toc
*.tdo
*_contour*
__pycache__
main.glg
main.glo
main.gls
main.ist
*SAVE-ERROR
# figlist and makefile for tikz externalize with list and make
*.figlist
*.makefile
*pgf-plot*
*pgf-plot*
